<!-- views/partials/header.ejs -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Recipe Share</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/recipes/list">All Recipes</a>
        </li>

        <% if (user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/recipes/new">Add Recipe</a>
          </li>
        <% } %>
      </ul>

      <ul class="navbar-nav ms-auto">
        <% if (user) { %>
          <li class="nav-item d-flex align-items-center me-2">
            <% if (user.avatar) { %>
              <img src="<%= user.avatar %>" alt="" width="32" height="32" class="rounded-circle me-2">
            <% } %>
            <span class="navbar-text">
              <%= user.displayName %>
            </span>
          </li>
          <li class="nav-item">
            <form action="/auth/logout" method="POST" class="d-inline">
              <button type="submit" class="btn btn-outline-light btn-sm">Sign out</button>
            </form>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a href="/auth/login" class="btn btn-outline-light btn-sm">Sign in</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
